body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e9f5db;
    /* margin: auto;
    text-align: center; */
}

.envelope-container{
    position: relative;
}
input#flap{
    display: none;
}
.envelope-back{
    position: relative;
    width: 300px;
    height: 200px;
    background-color: #718355;
}
.envelope-back::before{
    content: "";
    position: absolute;
    top: 220px;
    width: 300px;
    height: 10px;
    border-radius: 50%;
    background-color: #00000012;
}
.card{
    position: absolute;
    width: 280px;
    height: 180px;
    background-color: white;
    top: 10px;
    left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    transition: .1s;
    z-index: 1;
    cursor: pointer;
}
.card-front{
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 100px solid #87986a;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    top: 100px;
    left: 0;
    z-index: 3;
}
.card-front::before, .card-front::after {
    content: "";
    position: absolute;
    border-bottom: 100px solid transparent;
    border-top: 100px solid transparent;
    height: 0;
    width: 0;
}
.card-front::before{
    border-left: 152px solid transparent;
    border-right: 152px solid #97a97c;
    top: -100px;
    left: -154px;
}
.card-front::after{
    border-right: 151px solid transparent;
    border-left: 151px solid #97a97c;
    top: -100px;
    left: -149px;
}
.flap{
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    cursor: pointer;
    border-top: 110px solid #b5c99a;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    transition: .3s;
    transform-origin: top;
    z-index: 4;
}
/* Open and Close an envelope */
#flap:checked + .flap{
    transform: rotateX(180deg);
}
#flap:checked ~ .card-front{
    z-index: 7;
}
#flap:checked ~ .card{
    z-index: 4;
    transform: translateY(-60px);
}